include *.md
include LICENSE

recursive-include graphbin_utils/ *
recursive-include graphbin_utils/bidirectionalmap *
recursive-include graphbin_utils/labelpropagation *

global-exclude graphbin_utils/ *.pyc
global-exclude graphbin_utils/__pycache__ *.pyc
global-exclude graphbin_utils/bidirectionalmap *.pyc
global-exclude graphbin_utils/bidirectionalmap/__pycache__ *.pyc
global-exclude graphbin_utils/labelpropagation *.pyc
global-exclude graphbin_utils/labelpropagation/__pycache__ *.pyc
