name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: "actions/checkout@v2"
        with:
          fetch-depth: 0

      # Setup env
      - uses: "actions/setup-python@v2"
        with:
            python-version: "${{ matrix.python-version }}"

      - name: "Install dependencies on ${{ matrix.os }} for ${{ matrix.python-version }}"
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: "Generate coverage report on ${{ matrix.os }} for ${{ matrix.python-version }}"
        run: |
          pip install pytest
          pip install pytest-cov
          "pytest --cov=./ --cov-report=xml --junit-xml=./tests/${{ matrix.os }}-${{ matrix.python-version }}-coverage.xml"
          
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          file: ./tests/*-coverage.xml
          fail_ci_if_error: true
